html {
    width: 100%;
    height: 100%;
}

.row {
    margin-top: 3% !important;
}

#error > p {
    color: red;
    font-weight: bold;
}

div#link {
    text-align: start;
}

div#input-container {
    text-align: start;
}

#file {
    max-width: 60%;
}